<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Map3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E46EE651C31208B0000BE18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E46EE811C31208B0000BE18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E46EE8C1C31208B0000BE18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
